.settings{

    &__organization{
        .api-key-create{
            width: 100%;
            height: 45px;
            margin: 0;
            font-size: 1em;
            border: none;
        }
    }

}