@import './globals/variables';

.page_applications {
    .applications {
        &__rating {
            font-size: 10px;
            color: #D4AF37;
            min-width: 70px; // Rating stars
        }

        &__unrated {
            color: black;
        }
    }

    .applications-listing {
        &__attachments {
            &-head {
                font-size: 12px;
                margin-top: 10px;
                font-weight: bold;
            }

            &-item {
                margin-top: 4px;
                font-size: 12px;
                display: inline-block;
                margin-right: 5px;

                .glyphicon {
                    font-size: 10px;
                }
            }
        }
    }
    // Application content detail
    .app-detail {
        padding: 5px;

        &__header {
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        &__question-wrapper {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &__question {
            color: #000000;
        }

        &__answer,
        &__name {
            color: #484747;
        }

        &__email {}
    }

    #applications-listing_wrapper {
        .datatable__header {
            display: none;
        }
    }
    .carbonate-hired {
        td {
            background: #daf5ae !important;
        }
        &:hover {
            .hover-relative {
                position: relative;
                &:after {
                    content: 'Added to Carbonate';
                    padding: 4px 8px;
                    color: #333;
                    position: absolute;
                    left: 0; 
                    top: 100%;
                    white-space: nowrap; 
                    z-index: 20px;
                    -moz-border-radius: 5px; 
                    -webkit-border-radius: 5px;  
                    border-radius: 5px;  
                    -moz-box-shadow: 0px 0px 4px #222;  
                    -webkit-box-shadow: 0px 0px 4px #222;  
                    box-shadow: 0px 0px 4px #222;  
                    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
                    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
                    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
                    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
                    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
                    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
                }
            }
        }
    }
}

.status {
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    justify-content: space-between;
    // border: 1px solid gray;
    &_questioned {
        background-color: rgba(6, 177, 6, 0.45);
    }

    &_responded {
        background-color: rgba(253, 245, 9, 0.87);
    }

    &_pending-review {
        background-color: rgb(76, 222, 209);
    }

    &_rejected {
        background: #ea3535;
        color: white;
    }

    &_on-hold {
        background: #bbbbbb;
        color: white;
    }

    &_hired {
        background: green;
        color: white;
    }

    &_screened {
        background: #76d3fb;
        color: #000000;
    }

    &_options {
        margin: 3px 2px;
        background: #deeade;
    }

    &_active {
        background-color: #abefab;
    }

    &_paused {
        background-color: #dadada;
    }

    &_hover {
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.28);
        }
    }

    &_mailbox {
        background-color: #e5f58c;
    }
}