@import './globals/variables';

.filter-detail {
    &__item-wrapper {}

    &__wrapper {
        font-size: 12px;
    }

    &__header {}

    &__content,
    &__header {
        display: inline-block;
    }
}

.page_applications {
    .category__time {
        min-width: 100px;
        font-size: 12px;

        &-txt {}
        // display: flex;
        // align-items: center;
        &_today {
            color: green;
        }

        &_week {
            color: orange;
        }

        &_month {
            color: #989c1a;
        }

        &_month-over {
            color: red;
        }
    }

    .glyphicon {
        // color: black;
    }
}