@font-face {
    font-family: 'Mavenpro-Regular';
    src: url('/fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('/fonts/mavenpro-regular-webfont.woff') format('woff'), url('/fonts/mavenpro-regular-webfont.ttf')  format('truetype'), url('/fonts/mavenpro-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mavenpro-Light';
    src: url('/fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),  url('/fonts/mavenpro-medium-webfont.woff') format('woff'), url('/fonts/mavenpro-medium-webfont.ttf')  format('truetype'), url('/fonts/mavenpro-medium-webfont.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mavenpro-Bold';
    src: url('/fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('/fonts/mavenpro-bold-webfont.woff') format('woff'), url('/fonts/mavenpro-bold-webfont.ttf')  format('truetype'), url('/fonts/mavenpro-bold-webfont.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
