@import './globals/variables';

.candidate-settings {
    &__input-days {
        width: 30px !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__label-days {
        margin-left: 5px;
    }

    &__reminder-checkbox {
        display: inline-block;
    }

    &__days-input-wrapper {
        display: inline-block;
        margin-left: 5px;
    }
}