.container {
    padding: 0;
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.has-error {
    background-color: transparent;
    border: solid 1px #f02d44 !important;

    &:focus {
        border-bottom: solid 1px #f02d44 !important;
    }
}

.page {
    // min-height: 100%;
    height: 100%;
    overflow-y: auto;

    &__block-ui {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // background-color:black;// #0000003d;
        z-index: 1000;
        display: none;
    }
    @include max-screen($mobile-screen-width) {
        -webkit-overflow-scrolling: touch;
    }

    &__wrapper {
        min-height: 100%;
        margin: 0 auto;
        position: relative;

        &-content {
            overflow-y: auto;
            padding-top: 83px;
            @include max-screen($ipad) {
                padding-top: 79px;
            }
        }
    }

    &__content-wrapper {
        margin: 0 auto;
        padding: 0 30px;
    }

    .panel {
        border: none;
        box-shadow: 0 0 5px rgba(74, 73, 73, 0.26);
        border-radius: 8px;

        &_hanging {
            margin-top: 100px;
        }

        &__heading {
            padding: 20px 30px;
            // background: #f3f3f3;
            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 0;
            }

            & + .panel__body {
                padding-top: 10px;
            }
        }

        &__body {
            padding: 30px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
    }

    .form {
        &__group {
            position: relative;

            &:after,
            &:before {
                display: table;
                content: "";
                clear: both;
            }
        }
    }
}

#toast-container {
    height: 1px;
}

.datatable {
    font-size: 14px;

    &__detail {
        &_first {
            padding-left: 45px !important;
            position: relative;
        }
    }
}

.detail {
    position: absolute;
    top: 50%;
    left: 6px;
    margin-top: -16px;
    padding: 3px;
    display: inline-block;
    transform: scale(0.8);
    cursor: pointer;
}

.content {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    // padding-bottom:69px;
}

.form-container__section ol {
    li {
        position: relative;
        width: 95%;

        i {
            // position: absolute;
            // top:3px;
        }
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    overflow: hidden;
    max-width: 99%;
}

.g-bg {
    &_grey {
        background-color: $grey;
    }
}