.section{
	margin: auto;
	margin-top: 12vh;
	&_image{
		text-align: center;
		img{
			margin:auto;
		}
	}
	&_text{
		margin-top:50px;
		h1{
			text-align: center;
			margin-bottom: 15px;
		}
		h3{
			text-align: center;
			text-transform: none;
		}
	}
}
