@import './globals/variables';

.admin {
    &-logout {
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: right;
        &__button {
            width: auto;
            min-width: auto;
            font-size: 18px;
            padding: 10px 30px;
            border-radius: 0;
        }
    }
    &-list-container {
        &__csv {
            &_button {
                width: auto !important;
                min-width: auto;
                border-radius: 0;
                padding: 5px 15px;
            }
        }
        &__display {
            &_select {
                display:inline-block;
                width: auto;
                margin-bottom: 0px
            }
        }
        .pagination>li>a,
        .pagination>li>span {
          border: 1px solid #a58b43;
          color: #a58b43;
        }
        .pagination>li.active>a {
          background: #a58b43;
          &:hover {
            border-color: #a58b43;
          }
          color: #fff;
        }
    }
}